<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>



<form action="/admin/addClub" method="get">
    <button type="submit"> Add Club</button>
</form>
<form action="/admin/addEvent" method="get">
    <button type="submit"> Add Events</button>
</form>

<form action="/admin/events" method="get">
    <button type="submit">View All Events</button>
</form>

<form action ="/admin/clubs" method="get">
    <button type="submit">View All Clubs</button>
</form>
<button type="button" onclick="location.href='/'">Go Home</button>
<h2></h2>
<ul>
    <li th:each="club : ${clubs}" th:text="${club.name}">Club</li>
</ul>
</body>
</html>
